
body {
  background-color: rgba(241, 211, 230, 0.6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('images/login_image.png');
    background-size: cover;
    background-position: center;
    color: #003366;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  form {
    background-color: #d7f1f7;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 102, 204, 0.1);
    border: 1px solid #cce6ff;
    width: 100%;
    max-width: 400px;
   margin-bottom: -20rem;;
   margin-right: -30rem;
  }
  
  h1 {
    color: #010203;
    margin-bottom: 10rem;
    margin-right: -15rem;
  }
  

  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #99ccff;
    border-radius: 8px;
    font-size: 1em;
  }
  
 
  button {
    width: 100%;
    background-color: #1b9aa3;
    color: white;
    border: none;
    padding: 12px;
    font-size: 1em;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #007acc;
  }
  
  #status {
    margin-top: 650px;
    margin-right: -600px;
    text-align: center;
    font-weight: bold;
    position: absolute;
  }
  